/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size:1rem;
    padding:0px 7px;
    padding-bottom:8px
}
/* Home section  */
#home{
     height:370px;
     padding:3px 68px;
}

#home::before{
     height:480px;
}

#home p{
    font-size:13px;
}
/* services section  */
#services{
flex-direction: column;
}
#services .box{

}

/* sponsors section  */
#sponsors{
  flex-wrap: wrap;
}
#sponsors img{
    width:162px;
    padding:2px 30px;
}
/* contact us section  */

/* footer  */
/* utility classes  */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px;
}
13123